<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">

      <app-breadcrums></app-breadcrums>
      <!-- MI SISTEMA DE RUTAS -->

      <router-outlet></router-outlet>



    </div>

    <footer class="footer">
      Flavio Andrés Gomez - Prego
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

  </div>



</div>


<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
 -->
